*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
  height: 1000px;
  padding-left: 100px;
}


.header-top{
  height: 100px;
  background-color: white;
  font-size: 60px;
  font-family: sans-serif;
  padding: 10px;
}

header .header-top img{
  width: 80px;
  vertical-align: middle;
  margin-right: 0;
}
span{
  margin-left: 0;
}

.task{
  width: 120px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #4aadf2;
  padding-top: 7px;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 9px;
  

}
.section{
  width: 120px;
  height: 40px;
  text-align: center;
  color: rgb(159, 156, 156);
  background-color: white;
  padding-top: 7px;
  border-radius: 10px;
  font-size: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 3px;
  
}
.display{
  display: flex;
}

.second{
  font-size: 30px;
  
  margin-top: 50px;
}

.cont{
  display: flex;
  padding: 5px;
  margin-top: 20px;
}
.check, .cross{
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  font-size: 25px;
  text-align: center;
  /* color: green; */
  margin-right: 20px;
}
.check{
  color: green;
}
.cross{
  color: rgb(239, 11, 11);
  font-size: 40px;
  
}

.editorial, .green, .goals, .recruiting, .sales, .website, .mobile{
  background-color: #4aadf2;
  margin-left: 20px;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top: 7px;
}
.goals{
  background-color: blueviolet;
}
.recruiting{
  background-color: cadetblue;
}
.mobile{
  background-color: coral;
}
.website{
  background-color: deeppink;
}
.sales{
  background-color: chartreuse;
}